.App {
  text-align: center;
}

body {
  background-color: #f4f8fc;
  text-transform: uppercase;
  font-family: CircularStd, sans-serif;
}
.avatar-block {
  width: auto;
  height: auto;
  justify-content: center;
}

.avatar-div {
  margin-top: 50px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

.avatar-pic {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: #2a2c51 0 0 0 0.01em;
}

.btn {
  margin-top: 450px;
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
  align-items: center;
  appearance: none;
  background-image: linear-gradient(1deg, #2a2c51, #107dc6 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: -20px -20px;
}

.btn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}
